/* We are clearing out the default "dark mode" styles 
   so the Wedding Game's pink theme can shine!
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #fff1f2; /* A very light rose color */
}